/**
 * Sass for inputs section of segments page
 */

// @todo move this
@import 'mixins';

// @todo set colour for binary
//       and maybe hex?
//       or should binary be an element?

.inputs {
	.view {
		display: inline-block;
		flex-grow: 1;
		font-weight: bold;
		margin-bottom: 10px;
		text-align: center;
	}

	.letters,
	.binary,
	.hex {
		display: flex;
		margin: auto;
		text-align: center;
		width: 80%;
	}

	.letters {
		@include user-select(none);
		font-size: 1rem;

		.letter {
			cursor: pointer;
		}

		@each $key, $value in $colour-map {
			&.#{$key} .on {
				color: $value;
			}
		}
	}
}
