<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ page.title }}</title>
		<meta name="description" content="foo">
		<meta name="keywords" content="bar">

		<!-- stylesheets -->
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/segment.css">
	</head>
	<body>
		<header id="headerContainer" class="header-container">{% include header.html %}</header>
		<main id="main" class="main">
			<article id="article" class="article">{{ content }}</article>
		</main>
		<footer id="footerContainer" class="footer-container">{% include footer.html %}</footer>

		<!-- scripts -->
		<script src="/js/jquery-2.1.4.min.js"></script>
		<script src="/js/segment.js"></script>
	</body>
</html>
