<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ page.title }}</title>
		<meta name="description" content="foo">
		<meta name="keywords" content="bar">

		<!-- stylesheets -->
		<!-- @todo conditional assets based on page.include -->
		{% if page.content == 'segments' %}
			<link rel="stylesheet" href="assets/styles.css">
		{% else %}
			<link rel="stylesheet" href="assets/styles.css">
		{% endif %}
	</head>
	<body>
		<header id="headerContainer" class="header-container">{% include header.html %}</header>
		<main id="main" class="main">
			<article id="article" class="article">{{ content }}</article>
		</main>
		<!-- @todo
		<footer id="footerContainer" class="footer-container">{% include footer.html %}</footer>
		-->

		<!-- scripts -->
		{% if page.content == 'segments' %}
			<script src="/assets/application.js"></script>
		{% else %}
			<script src="/assets/application.js"></script>
		{% endif %}
		
	</body>
</html>
