<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ page.title }}</title>
		<meta name="description" content="foo">
		<meta name="keywords" content="bar">

		<!-- stylesheets -->
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>
		<header id="headerContainer" class="header-container">{% include header.html %}</header>
		<nav id="navContainer" class="nav-container">{% include nav.html %}</nav>
		<main id="main" class="main">
			<article id="article" class="main">{{ content }}</article>
		</main>
		<footer id="footerContainer" class="footer-container">{% include footer.html %}</footer>
	</body>
</html>
